<footer class="footer text-light bg-secondary py-5">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-sm-6 text-center mb-4">
				<p>CDMX, MÉXICO</p>
				<p><i class="fa fa-envelope-o" style="font-size:24px"></i> contacto@daldental.com</p>
			</div>
			<div class="col-lg-3 col-sm-6 text-center mb-4">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-light"></i>
					<i class="fa fa-map-marker-alt fa-stack-1x fa-inverse text-primary"></i>
				</span>
			</div>
			<div class="col-lg-3 col-sm-6 text-center mb-4">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-light"></i>
					<i class="fab fa-whatsapp fa-stack-1x fa-inverse text-primary"></i>
				</span>
			</div>
			<div class="col-lg-3 col-sm-6 text-center mb-4">
				<p>Whatsapp</p>
				<a href="(0155) 20-99-
					71-78">(0155) 20-99-
					71-78</a>
			</div>


		</div>

	</div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/creative.min.js"></script>
<script src="/assets/js/correo.js"></script>
