	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-3" id="mainNav">
		<div class="container">
			<img width="150px" src="/assets/images/nav.png" alt="menu">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto my-2 my-lg-0">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="/#carouselExampleIndicators">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="/#especialidades">Especialidades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="/#Agenda">Agendar cita</a>
					</li>

					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="/#contact">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
